body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.p{
  text-align: center;
}

.title {
  font-size: 5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.frame {
}

.theme-background {
  background-color: #004643;
}

.theme-button {
  background-color: #f9bc60;
}

.theme-headline {
  color: #fffffe;
}

.theme-paragraph {
  color: #abd1c6;
}

.theme-button-text {
  color: #001e1d;
}

.summary {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.summary2 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.border {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.right-section{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.menu {
  display: flex;
  border: 1px solid black;
  width: 100%;
  justify-content: flex-end;
}

.menu-icon {
  width: 50px;
  height: 50px;
}

.menu-icon:hover {
  cursor: pointer;
  background-color: #f9bc60;
}

.item {
  margin-right: 20px; /* Espacio entre elementos */
}

.footer{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: flex-end;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 200;
}

